@model string 
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.PropertyFor(m => m.EpiData.Image)
@if (Model.IsInEditMode)
{
    <h1 class="@(string.IsNullOrEmpty(Model.EpiData.Title)?"":"text-muted")">@Html.PropertyFor(m => m.EpiData.PageName)</h1>
    <h1>@Html.PropertyFor(m => m.EpiData.Title)</h1>
}
else
{
    <h1>@(string.IsNullOrEmpty(Model.EpiData.Title) ? Model.EpiData.PageName : Model.EpiData.Title)</h1>
}
<div class="preamble">@Html.PropertyFor(m => m.EpiData.Preamble)</div>
<div class="maintext bottommargin">@Html.PropertyFor(m => m.EpiData.MainText)</div>
@Html.PropertyFor(m => m.EpiData.MainContentArea, new { CssClass = "maincontentarea" })*@


lalskdhfajfhöklasd


<div class="maincontentarea" data-epi-property-name="MainContentArea" data-epi-use-mvc="True" data-epi-property-rendersettings="{&quot;cssClass&quot;:&quot;maincontentarea&quot;}" style="min-height: 136px;">
<div class="row">

    <div class="block textblock col-lg-4 col-md-6 col-sm-12 col-xs-12 displaymode-one-third epi-injected-minSize" data-epi-block-id="17" data-epi-block-info="{&quot;missingrenderer&quot;:false}" data-epi-content-display-option="displaymode-one-third" data-epi-content-name="Textblocket">
        <div class="maintext">
            <div class="epi-editContainer" data-epi-use-mvc="True"><p><span>Shank ground round sausage tongue, flank doner pancetta bacon landjaeger ham capicola cupim. Pastrami ham leberkas capicola. Ball tip salami pastrami brisket, pork pork chop shank swine biltong leberkas bacon porchetta kielbasa doner filet mignon. Meatball tri-tip landjaeger drumstick turkey fatback sirloin pancetta meatloaf t-bone. Cupim turducken hamburger, pancetta tri-tip ground round sirloin.</span></p></div>
        </div>
    </div>
</div>
</div>

<div>
    {{ text }}
</div>

<div>
    {{ data.PageName }}
</div>

<script>
    angular.module("epiApp").value("episerversidedata", @Html.Raw(Model));
</script>