@using FFCG.Utsikt.Web.Business.Renderer
@model FFCG.Utsikt.Web.Models.Pages.StartPage.StartPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="startpage" ng-view="">
    <div class="container" ng-controller="homeController">
        <div class="well" style="overflow-y:auto;">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" ng-class="{active:!$index}" ng-repeat="article in news" data-slide-to="$index"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item" ng-class="{active:!$index}" ng-repeat="article in news">
                        <!-- <div ng-repeat="article in news" class="item"> -->
                        <img src="{{ article.ImageUrl }}" class="news-image" alt="First slide">
                        <div class="news-preamble-container">
                            <div class="news-title">{{ article.Name }}</div>
                        </div>
                        <div class="news-maintext-container">
                            <span ng-bind-html="article.Preamble">
                                <span ng-bind-html="article.Preamble"> </span>
                            </span>
                            <div class="news-maintext">
                                <span ng-bind-html="article.MainText"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h1>
                    @Html.PropertyFor(m => m.EpiData.MainContentAreaTitle)
                </h1>
                @Html.PropertyFor(m => m.EpiData.MainContentArea, new { CssClass = "startpage-maincontentarea", Tag = ContentAreaTags.FullWidth })
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 rightcontentarea startpage-rightcontentarea ">
                <div class="startpage-whatislif">@Html.PropertyFor(m => m.EpiData.WhatIsLifImage)</div>
                @Html.PropertyFor(m => m.EpiData.RightContentArea, new { Tag = ContentAreaTags.FullWidth })
            </div>
        </div>
    </div>
    <div class="container-full">
        @Html.PropertyFor(m => m.EpiData.BottomContentArea, new { CssClass = "bottomcontentarea clearfix", Tag = ContentAreaTags.FullWidth })
    </div>
</div>

<!--
<img class="news-image" src="{{ article.ImageUrl }}" ng-click="showText(article)" />
                <div ng-show="article.showArticle">
                   <div>
                        <strong class="news-preamble">{{ article.Preamble }}</strong>
                    </div>
                        <div class="news-maintext">{{ article.MainText }}</div>
                </div> -->