@model EPiServer.XForms.Parsing.InputFragment

@{
    var haserror = ViewData.ModelState[Model.ValidationReference]!=null && ViewData.ModelState[Model.ValidationReference].Errors.Count != 0;
}

<div class="form-group @Model.Reference @Model.Class @(Model.Required?"required":"") @(haserror ? "has-error" : "")">

    <label for="@Model.Reference" class="control-label">@Model.Label</label>
    @Html.TextBox(Model.Reference, Server.HtmlDecode(Model.Value) ?? string.Empty, new { @class = "form-control", size = Model.Size, placeholder = Model.Title, required = "required" })

    @if (haserror)
    {
        @Html.ValidationMessage(Model.ValidationReference, new { @class = "help-block" })
    }

</div>